<div ng-class="myColspan">
    <div class="form-goup" ng-class="{'has-error':formControl[inputName].$invalid && formControl[inputName].$touched}">
        <label class="control-label"
               ng-bind="label"></label>

        <label class="ca-input-text-required"
               ng-if="ngRequired">
            <i class="fa fa-asterisk"></i>
        </label>

        <input type="text"
               class="form-control"
               ng-model="ngModel"
               ng-required="ngRequired"
               ng-maxlength="ngMaxlength"
               ng-minlength="ngMinlength"
               name="{{::inputName}}"
               maxlength="{{::ngMaxlength}}"/>

        <div class="help-block"
             ng-messages="formControl[inputName].$error"
             ng-if="formControl[inputName].$invalid && formControl[inputName].$touched">

            <div ng-messages-include="app/template/messages.html"></div>

        </div>
    </div>
</div>